/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* html body */
body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif; 
}

h2 {
    margin: 10px 0;
    font-weight: bold;
    color: #95BDFF;
}

h3 {
    font-weight: bold;
    color: #F79BD3;
}

/* header */
header {
    background-color: #95BDFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}
  
header h1 {
    font-size: 36px;
}
  
/* main content */
main {
display: flex;
justify-content: space-between;
padding: 20px;
}

/* content area */
.content {
flex: 1;
background-color: #fff;
padding: 20px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.content h2 {
font-size: 24px;
}

.content p {
font-size: 16px;
line-height: 1.5;
}

/* aside area */
aside {
flex: 0 0 25%; /* Ukuran aside tetap 25% dari lebar */
background-color: #fff;
padding: 20px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

aside h2 {
font-size: 24px;
}

aside p {
font-size: 16px;
line-height: 1.5;
}

/* footer */
footer {
background-color: #95BDFF;
color: #fff;
font-weight: bold;
text-align: center;
padding: 10px;
}

/* nav */
nav ul {
list-style-type: none;
}

nav ul li {
display: inline;
margin-right: 20px;
}

nav ul li a {
text-decoration: none;
color: #fff;
}

/* image */
article img {
max-width: 100%;
height: auto;
}

/* section */
section {
margin-top: 20px;
}

/* section image */
section img {
max-width: 100%;
height: auto;
}

@media screen and (max-width: 768px) {
    main {
      flex-direction: column; 
    }
  
    aside {
      flex: 0 0 100%; 
      margin-top: 20px; 
    }
  
    .content {
      margin-bottom: 20px;
    }
  
    header h1 {
      font-size: 28px;
    }
  
    .content h2 {
      font-size: 20px;
    }
  
    .content p {
      font-size: 14px;
    }
  
    aside h2 {
      font-size: 20px;
    }
  
    aside p {
      font-size: 14px;
    }
  
    footer {
      padding: 10px 0; 
    }
}